stratis/application/resources/wsdl/I136_ItemMasterReconInboundOutbound.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<definitions name="I136_ItemMasterReconInboundOutbound"
             targetNamespace="http://www.usmc.mil/schemas/1/if/I136_ItemMasterReconInboundOutbound"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:tns="http://www.usmc.mil/schemas/1/if/I136_ItemMasterReconInboundOutbound"
             xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <import namespace="http://schemas.oracle.com/bpel/extension"
          location="RuntimeFault.wsdl"/>
  <types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema">
      <import namespace="http://www.usmc.mil/schemas/1/if/I136_ItemMasterReconInboundOutbound"
              schemaLocation="I136_ItemMasterReconInboundOutbound.xsd"/>
    </schema>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://gcss.usmc.mil/common/ehf"
                  schemaLocation="EHF_Variables.xsd"/>
    </xsd:schema>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://schemas.oracle.com/service/bpel/common"
                  schemaLocation="xsltproperties.xsd"/>
    </xsd:schema>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.usmc.mil/schemas/1/if/stratis"
                  schemaLocation="stratisCommon.xsd"/>
    </xsd:schema>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.usmc.mil/schemas/1/if/stratis"
                  schemaLocation="i136StratisItemMaster.xsd"/>
    </xsd:schema>
  </types>
  <message name="I136_ItemMasterReconInboundOutboundCompressedRequestMessage">
    <part name="payload"
          element="tns:I136_ItemMasterReconInboundOutboundProcessCompressedRequest"/>
  </message>
  <message name="I136_ItemMasterReconInboundOutboundResponseMessage">
    <part name="payload"
          element="tns:I136_ItemMasterReconInboundOutboundProcessResponse"/>
  </message>
  <message name="I136_ItemMasterReconInboundOutboundUncompressedRequestMessage">
    <part name="payload"
          element="tns:I136_ItemMasterReconInboundOutboundProcessUncompressedRequest"/>
  </message>
  <portType name="I136_ItemMasterReconInboundOutbound">
    <operation name="initiateCompressed">
      <input message="tns:I136_ItemMasterReconInboundOutboundCompressedRequestMessage"/>
      <output message="tns:I136_ItemMasterReconInboundOutboundResponseMessage"/>
    </operation>
    <operation name="initiateUncompressed">
      <input message="tns:I136_ItemMasterReconInboundOutboundUncompressedRequestMessage"/>
      <output message="tns:I136_ItemMasterReconInboundOutboundResponseMessage"/>
    </operation>
  </portType>
  <binding name="I136_ItemMasterReconInboundOutboundBinding"
           type="tns:I136_ItemMasterReconInboundOutbound">
    <soap:binding style="document"
                  transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="initiateCompressed">
      <soap:operation style="document"
                      soapAction="initiateCompressed"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="initiateUncompressed">
      <soap:operation style="document"
                      soapAction="initiateUncompressed"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="I136_ItemMasterReconInboundOutbound">
    <port name="I136_ItemMasterReconInboundOutboundPort"
          binding="tns:I136_ItemMasterReconInboundOutboundBinding">
      <soap:address location="http://dl-lopez.gcssmc.com:21000/orabpel/xxmc_intf/I136_ItemMasterReconInboundOutbound/1.0"/>
    </port>
  </service>
  <plnk:partnerLinkType name="I136_ItemMasterReconInboundOutbound">
    <plnk:role name="I136_ItemMasterReconInboundOutboundProvider">
      <plnk:portType name="tns:I136_ItemMasterReconInboundOutbound"/>
    </plnk:role>
  </plnk:partnerLinkType>
</definitions>
